.popup-button-wrapper {
    margin-top: 10px;
    text-align: center;
}
.popup-button {
    height: 40px;
    width: 60px;
    background-color: #3d3dcb;
    color: white;
    font-size: 14px;
}
.message-text {
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
}