<div class="header-wrapper">Encora Contact List</div>
<table mat-table [dataSource]="contactList" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th class="table-header" mat-header-cell *matHeaderCellDef> Sr.No </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
    </ng-container>
    <ng-container matColumnDef="firstName">
        <th class="table-header" mat-header-cell *matHeaderCellDef> Firstname </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>
    <ng-container matColumnDef="lastName">
        <th class="table-header" mat-header-cell *matHeaderCellDef> Lastname </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
    <ng-container matColumnDef="phone">
        <th class="table-header" mat-header-cell *matHeaderCellDef> Phone number </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>
    <ng-container matColumnDef="operations">
        <th class="table-header" mat-header-cell *matHeaderCellDef> Update/Delete </th>
        <td mat-cell *matCellDef="let element; let i = index">
            <mat-icon class="icon-class" (click)="addOrEditClick(element, i)">edit</mat-icon>
            <mat-icon class="icon-class" style="margin-left: 10px;" (click)="deleteClick(i)">delete</mat-icon>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" style="text-align: center;font-weight: 600;" [attr.colspan]="displayedColumns.length + 1">
            No data found
        </td>
    </tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="add-button-wrapper">
    <button (click)="addOrEditClick()" class="add-button" mat-raised-button color="primary">Add new contact</button>
</div>