table {
    width: 100%;
    margin-top: 10px;
}
.icon-class {
    cursor: pointer;
}
.header-wrapper {
    background-color: #3d3dcb;
    color: white;
    font-size: 30px;
    padding: 24px;
    margin-bottom: 28px;
}
.add-button-wrapper {
    margin-top: 10px;
}
.add-button {
    float: right;
    height: 40px;
    width: 180px;
    background-color: #3d3dcb;
    color: white;
    font-size: 14px;
    margin-top: 10px;
}
.table-header {
    font-size: 16px;
}